// Set the font sizes to use, fixed or fluid.
$font-size: $font-size-fluid;

// The max content width. (Consider using one of the breakpoints.)
$max-content-width:   777px;

// The max page width. Defaults to max-content-width.
// Setting this to a larger value than max-content-width allows
// content with class "stretch" to stretch out to the page edge.
$max-page-width:      1111px;
