<tr>
  <td class="products">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </td>

  <td class="tags">
    {{- $tags := slice -}}
    {{- range (.GetTerms "tags") }}{{ $tags = $tags | append .LinkTitle }}{{ end -}}
    {{- delimit $tags ", " -}}
  </td>


  <td class="categories">
    {{- $categories := slice -}}
    {{- range (.GetTerms "categories") }}{{ $categories = $categories | append .LinkTitle }}{{ end -}}
    {{- delimit $categories ", " -}}
  </td>

  <td class="date">
    <time class="created-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format ($.Param "dateformat" | default "2 January, 2006") }}</time>
  </td>
</tr>
